/* Header CSS */
.Header {
  
  background: #fdfdfd;
  min-height: 70px;
  padding: 0 20px;
  box-shadow: 0 0px 11px #c5c5c5;
}
.productTitle {
  min-height: 100px;
}

.addButton {
  width: 100%;
  background: #33335e;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.addButton:hover {
  text-decoration: none;
  color:#d7d7d7;
  background: #414191;
}

.navLink {
  display: block;
  padding: 15px;
  color:#383838
}
.navLink:hover {
  color: #17a2b8;
  text-decoration: none;
}

/* footer css */

.footer {
  background: #F8F9FA;
  color: #878787;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: relative;
  bottom: -169px;
  box-shadow: 0 0px 11px #c5c5c5;
}

